/**********************************************************************************************************/
/*                                   Style Sheet for Black Mirror web                                     */
/*                                        Author: Manuel Alarcón                                          */
/*                                             version: 1.0                                               */
/*                                   Comments: class project 2023-24                                      */
/**********************************************************************************************************/

/*Cuando quiero usar una tipografia y asegurarme se que se verá bien, suministro el archivo de la fuente tmb que sera .ttf o .otf*/
/* 1. ahora enlazo el archivo descargado*/
/* 2. utilizo el nombre de la font family donde quiera usarlo*/

@font-face{/*no es un selector, es un enlace*/
            font-family: blackmirror;
            src: url(../font/Fuente-BlackMirror.otf)}

@font-face{
            font-family:textonormal;
            src: url(../font/Fuente-OpenSans)}

* {box-sizing: border-box;} /*siempre se pone con maquetación compleja*/

body {margin:0; padding: 0%; /*para desactivar el margen por defecto*/
    background-color: #202020;
    font-family: blackmirror ;
    }

#wrapper {background-color: #b0b0b0;
            width:80%;
            margin:auto
        }

/****************************************HeroSection***********************************************/

#hero{background-image: url(../img/black-mirror-serie.jpg);
                        height:95vh;   /*el 100 del alto de la ventana del navegador*/
                        background-position: 50%;
                        background-size: cover;
                        position:relative; /*contenedor relativo*/
    }

#hero button {background-color: rgb(61, 61, 61);
            color: white;
            font-weight: bold;
            border: none;
            border-radius: 10px;
            padding: 15px 10px;
            position:absolute; 
            top: 75%;
            left: 50%;
            transform: translate(-50%,-50%);
            }
