/**********************************************************************************************************/
/*                                   Style Sheet for Black Mirror web                                     */
/*                                        Author: Manuel Alarcón                                          */
/*                                             version: 1.0                                               */
/*                                   Comments: class project 2023-24                                      */
/**********************************************************************************************************/

/*Cuando quiero usar una tipografia y asegurarme se que se verá bien, suministro el archivo de la fuente tmb que sera .ttf o .otf*/
/* 1. ahora enlazo el archivo descargado*/
/* 2. utilizo el nombre de la font family donde quiera usarlo*/

@font-face{/*no es un selector, es un enlace*/
            font-family: blackmirror;
            src: url(../font/Fuente-BlackMirror.otf)}

@font-face{
            font-family:textonormal;
            src: url(../font/Fuente-OpenSans)}

body {margin:0; padding: 0%; /*para desactivar el margen por defecto*/
    background-color: #202020;
    font-family: blackmirror ;}

#wrapper {background-color: #b0b0b0;
            width:80%;
            margin:auto}
